.title{
    padding-left: 0;
    font-size: 22px;
    margin-left: 10px;
    padding-right: 0.4em;
    margin-bottom: 5;
  }
  .title2{
    font-size:12px;
  }
  .b1{
    background-color: rgb(23, 206, 185);;
    color: white;
    height:1.5em;
    border:none;
    border-radius: 4px;
    padding-right: 0.8em;
    margin: 0.8em;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 0;
    width: 9em;
  }
  .b2{
    color: red;
    background-color: antiquewhite;
    border: none;
  }